body {
    color: #000500;
    font-family: "Roboto", sans-serif;
}

.main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #000500;
    height: 20vh;
}

.footerParagraph, .main h1, .gameContainer {
    text-align: center;
}

.footerParagraph {
    color: #F0F7EE;
    font-size: 18px;
    font-weight: normal;
    padding-top: 3.7%;
}

.footerParagraph>a {
    color: #DC0073;
    text-decoration-line: none;
}

.footerParagraph>a:hover {
    color: hsl(328.64, 100%, 35.1%);
}

.footerParagraph>a:active {
    color: hsl(328.64, 100%, 25.69%);
}

.footerParagraph>a, .footerParagraph>a:hover, .footerParagraph>a:active {
    transition: color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 63px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: center;
    color: #DC0073;
    margin-top: 32px;
}

.mainContainer {
    height: 73%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 51px;
}

.scoreContainer {
    color: #000500;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputBox {
    width: 95px;
    height: 95px;
    border: 1px solid #000500;
    border-radius: 8%;
    font-size: 40px;
    font-weight: 200;
    padding: 24px;
    text-align: center;
}

.inputBox[class="inputBox"]:hover {
    border-color: #DC0073;
}

.inputBox, .inputBox[class="inputBox"]:hover {
    transition: border-color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.inputBox.filled {
    background-color: rgba(132, 132, 132, 0.79)
}

.gameInputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn-custom {
    width: 154px;
    height: 44px;
    border-radius: 8%;
    font-size: 18;
    font-weight: 400;
    color: #F0F7EE;
    border: none;
}

.btn-custom.check, .btn-custom.restart, .btn-custom.check:hover, .btn-custom.restart:hover,
.btn-custom.check:active, .btn-custom.restart:active {
    transition: background-color 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.btn-custom.check {
    background-color: #DC0073;
}

.btn-custom.check:hover {
    background-color: hsl(328.64, 100%, 35.1%);
}

.btn-custom.check:active {
    background-color: hsl(328.64, 100%, 25.69%);
}

.btn-custom.restart {
    background-color: #D5202C;
}

.btn-custom.restart:hover {
    background-color: hsl(356.02, 73.88%, 40.04%);
}

.btn-custom.restart:active {
    background-color: hsl(356.02, 73.88%, 32.04%);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
